/* Checkboxes */

.task_check {
    all: initial !important;

    display: inline-block !important;
    vertical-align: middle !important;

    width: 15px !important;
    height: 15px !important;

    cursor: pointer !important;

    border-style: solid !important;
    border-width: 2px !important;
    border-color: var(--interactive-normal) !important;
    border-radius: 50% !important;
}

.task_check:hover {
    border-color: var(--interactive-accent) !important;  
}

.task_container {
    display:inline-block;
    display:inline-block !important;
    vertical-align: middle !important;
    margin-left: 20px;
}

/* Subjects */

.subject_name {
    font-size: large;
    font-weight: bold;
    margin-right: 15px; 
    line-height: 3;
    display: inline-block;
}

.subject_add {
    font-size: medium;
    width: 30px;
    height: 30px;
    
    background-color: var(--interactive-accent)!important;

    color: var(--text-normal);
    font-weight: bolder;
    text-align: center;

    padding: 0;
    box-shadow: none;
    margin: none;

    border-width: 0px;
    border-color: var(--text-normal)!important;
    border-radius: 25%;
}

.subject_add:hover {  
    box-shadow: none;
    background-color: var(--interactive-accent-hover)!important;
}