.header {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 15px;
  align-items: center;
  justify-content: left;
}
.header-title {
  width: 80%;
  font-size: xx-large;
  margin-bottom: none;
}
.header-edit-button {
  --icon-size: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 25%;
  padding: 0px;
  background-color: transparent;
}
.header-edit-button:hover {
  background-color: var(--interactive-hover);
}

.add-subject {
  overflow: hidden;
  width: 35%;
  background-color: var(--interactive-accent);
  border-radius: 5px;
  margin-bottom: 10px;
}
.add-subject:hover {
  background-color: var(--interactive-accent-hover);
}
.add-subject p {
  overflow: hidden;
  text-align: center;
  padding: 5px;
  margin: 0;
  font-size: large;
  font-weight: bolder;
}

.subject {
  margin-top: 20px;
  margin-bottom: 30px;
}
.subject-heading {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 15px;
  align-items: center;
  justify-content: left;
}
.subject-heading-name {
  font-size: x-large;
  flex-basis: 80%;
}
.subject-heading-remove {
  --icon-size: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--interactive-hover);
}
.subject-heading-remove:hover {
  background-color: red;
}
.subject-heading-add {
  --icon-size: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.subject-heading-add:hover {
  background-color: var(--interactive-hover);
}

.task {
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}
.task-check {
  float: left;
  background-color: transparent;
  width: 25px;
  height: 25px;
  margin-right: 15px;
  border-style: solid;
  border-width: 2px !important;
  border-color: var(--interactive-hover);
  border-radius: 50%;
}
.task-check:hover {
  border-color: var(--interactive-accent);
}
.task-link {
  width: 60%;
  overflow: hidden;
  font-size: large;
  word-break: break-all;
}
.task-link:hover {
  text-decoration: underline;
}
.task-text {
  width: 60%;
  overflow: hidden;
  font-size: large;
  word-break: break-all;
}
.task-date {
  font-size: small;
  margin-left: 40px;
  color: var(--text-faint);
}

.subject-prompt {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  align-items: center;
  justify-content: left;
}
.subject-prompt p {
  flex-basis: 100%;
  font-size: large;
  font-weight: bold;
}
.subject-prompt-input {
  flex-basis: 50%;
  width: 50%;
}
.subject-prompt-confirm {
  --icon-size: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 25%;
  margin-left: 10px;
  background-color: var(--interactive-hover);
}
.subject-prompt-confirm:hover {
  background-color: var(--interactive-accent-hover);
}

.task-prompt {
  margin-top: 10px;
}
.task-prompt-flextop {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: left;
}
.task-prompt-flextop-input {
  flex-basis: 50%;
  width: 50%;
}
.task-prompt-flextop-confirm {
  --icon-size: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-left: 5px;
  background-color: var(--interactive-hover);
}
.task-prompt-flextop-confirm:hover {
  background-color: var(--interactive-accent-hover);
}
.task-prompt-flexbottom {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: left;
}
.task-prompt-flexbottom-suggest {
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  background-color: var(--interactive-hover);
}
.task-prompt-flexbottom-suggest:hover {
  background-color: var(--interactive-accent-hover);
}

/*# sourceMappingURL=styles.css.map */
