.tickaway .tickaway-modal {
    .icon-button {
        width: 12px;
        height: 12px;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .section-dropdown {
            background-color: none;
            border-radius: var(--radius-s);

            padding: var(--size-4-1) var(--size-4-2);
            overflow: hidden;

            display: flex;
            flex-grow: 1;
            justify-content: left;
            align-items: center;
            gap: 10px;
            
            .section-name {
                font-size: var(--h3-size);
                font-weight: var(--font-normal);
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                color: var(--text-normal);
            }

            .section-icon {
                color: var(--icon-color);
                opacity: var(--icon-opacity);
            }

            & * {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &:hover {
                .section-name {
                    color: var(--text-normal);
                }

                background-color: var(--background-modifier-hover);
                opacity: 100;
            }
        }
    }
    
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 10px;

        border-top: var(--divider-width) solid var(--divider-color);

        padding: var(--size-4-4) 0 0 0;
    }

    .action-button {
        width: fit-content;
        height: fit-content;

        border-radius: var(--button-radius);
        border-style: solid;
        border-width: 1px;
        border-color: var(--background-modifier-border-hover);
        background-color: var(--background-secondary);
        box-shadow: none;
        font-size: var(--font-ui-small);
        justify-content: flex-end;
        min-height: 18px;
        padding: var(--size-4-1) var(--size-4-2) var(--size-4-1) var(--size-4-2);
        user-select: none;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        cursor: var(--cursor);
        margin: none;
        gap: var(--size-4-2);

        & * {
            color: var(--icon-color);
            transition: opacity 0.15s ease-in-out;
            opacity: var(--icon-opacity);

            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover &:hover {
            background-color: var(--background-modifier-hover);  
        }


        &:hover * {
            color: var(--icon-color-hover);
            opacity: var(--icon-opacity-hover);
        }

        &:active * {
            opacity: var(--icon-opacity-hover);
            color: var(--icon-color-focused);
        }

        .action-button-icon {
            stroke: var(--icon-m-stroke-width);
        }
    }

    .project-switcher {
        color: var(--vault-profile-color);
        border-radius: var(--radius-s);
        display: flex;
        flex-grow: 1;
        align-items: center;
        gap: var(--size-4-2);
        overflow: hidden;
        padding: var(--size-4-1) var(--size-4-2);

        &:hover {
            color: var(--vault-profile-color-hover);
            background-color: var(--background-modifier-hover);

            .project-switcher-icon {
                color: var(--icon-color-hover);
                opacity: var(--icon-opacity-hover);
            }
        }

        &.is-active {
            color: var(--vault-profile-color-hover);
            background-color: var(--background-modifier-hover);
            
            .project-switcher-icon {
                color: var(--text-muted);
            }
        }

        .project-switcher-icon {
            height: var(--icon-m);
            width: var(--icon-m);
            stroke: var(--icon-m-stroke-width);
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--icon-color);
            transition: opacity 0.15s ease-in-out;
            opacity: var(--icon-opacity);
        }

        .project-switcher-name {
            font-size: var(--inline-title-size);;
            font-weight: var(--font-bold);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

