#menu {
    display: flex;
    flex-direction: column;

    #selected-view {
        background-color: var(--background-modifier-hover);
    }

    .menu-item:not(#selected-view):hover {
        background-color: var(--background-primary);
    }
}