.homework {
    // Header title
    h1 {
        font-size: xx-large;
        margin-top: 0;
        margin-bottom: 0;
    }

    // Subject names
    h2 {
        font-size: x-large;
        margin-top: 0;
        margin-bottom: 0;
    }

    // Prompt names
    h3 {
        font-size: large;
        margin-top: 0;
        margin-bottom: 0;
    }

    .clickable-icon {
        width: 32px;
        height: 32px;
    }

    &-hidden {
        display: none !important;
    }

    &-link {
        &:hover {
            cursor: var(--cursor-link);
            text-decoration-line: var(--link-decoration-hover);
        }
    }

    @import './header';

    @import './body';

    @import './menu';

    #subject-prompt {
        display: flex;
        align-items: center;
        margin-top: 30px;
        gap: 10px;

        input {
            width: 50%;
        }
    }

    #task-prompt {
        margin-top: 15px;

        #top {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;
            
            input {
                width: 50%;
            }
        }

        #bottom {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }    
}

