.dropdown {
    //display: inline-block;

    &-button {
        width: 50px;
        height: 50px;

        // &:hover {
        //     &-content {
        //         display: block;
        //     }

        //     background-color: var(--interactive-hover);
        // }
    }    

    &-content {
        display: none;
        position: absolute;
        background-color: var(--background-modifier-hover);
        min-width: 160px;
        z-index: 1;

        p {
            display: block;
    
            &:hover {
                background-color: var(--background-modifier-active-hover);
            }
        }
    }
}