@import 'mixins/centerInlineBlock';
@import 'mixins/iconAlign';



.add-subject {
    overflow: hidden;
    width: 35%;
    background-color: var(--interactive-accent);
    border-radius: 5px;
    margin-bottom: 10px;

    &:hover {
        background-color: var(--interactive-accent-hover);
    }

    & p {
        overflow: hidden;
        text-align: center;
        padding:5px;
        margin: 0;
        font-size: large;
        font-weight: bolder;
    }
}