@import 'mixins/centerInlineBlock';
@import 'mixins/divImage';
@import 'variables';

.header {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 15px;
    align-items: center;
    justify-content: left;

    &-title {
        width: 80%;
        font-size: xx-large;

        margin-bottom: none;
    }

    &-edit-button {
        @include divImage($pen-line, 25px);

        width: 30px;
        height: 30px;

        border-radius: 25%;

        padding: 0px;

        background-color: transparent;

        &:hover {
            background-color: var(--interactive-hover);
        }
    }    
}

.add-subject {
    overflow: hidden;
    width: 35%;
    background-color: var(--interactive-accent);
    border-radius: 5px;
    margin-bottom: 10px;

    &:hover {
        background-color: var(--interactive-accent-hover);
    }

    & p {
        overflow: hidden;
        text-align: center;
        padding:5px;
        margin: 0;
        font-size: large;
        font-weight: bolder;
    }
}