@import 'mixins/centerInlineBlock';
@import 'mixins/divImage';
@import 'variables';

.task-prompt {
    margin-top: 10px;

    &-flextop {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 10px;
        align-items: center;
        justify-content: left;

        &-input {
            flex-basis: 50%;
            width: 50%;
        }

        &-confirm {
            @include divImage($arrow-right);
    
            width: 30px;
            height: 30px;
    
            border-radius: 5px;
            margin-left: 5px;
    
            background-color: var(--interactive-hover);
    
            &:hover {
                background-color: var(--interactive-accent-hover);
            }
        }
    }

    &-flexbottom {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        align-items: center;
        justify-content: left;

        &-suggest {
            padding: 5px 10px 5px 10px;
            border-radius: 5px;
            background-color: var(--interactive-hover);

            &:hover {
                background-color: var(--interactive-accent-hover); 
            }
        }
    
        &-date {
           
        }
    }
}