@import 'mixins/centerInlineBlock';
//@import 'mixins/divImage';
@import 'variables';

.subject-prompt {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    align-items: center;
    justify-content: left;

    & p {
        flex-basis: 100%;
        font-size: large;
        font-weight: bold;
    }

    &-input {
        flex-basis: 50%;
        width: 50%;
    }

    &-confirm {
        //@include divImage($arrow-right);

        width: 30px;
        height: 30px;

        border-radius: 25%;
        margin-left: 10px;

        background-color: var(--interactive-hover);

        &:hover {
            background-color: var(--interactive-accent-hover);
        }
    }
}