@import 'mixins/centerInlineBlock';
@import 'mixins/divImage';
@import 'variables';

.task-prompt {
    &-input {
        display: block;
        margin-bottom: 10px;
    }

    &-suggest {
        @include centerInlineBlock();
    }

    &-date {
        @include centerInlineBlock();
        margin-left: 5px;
    }

    &-confirm {
        @include centerInlineBlock();
        @include divImage($arrow-right);

        width: 30px;
        height: 30px;

        border-radius: 25%;
        margin-left: 5px;

        background-color: var(--interactive-normal);

        &:hover {
            background-color: var(--interactive-hover);
        }
    }
}