@import 'mixins/centerInlineBlock';
//@import 'mixins/divImage';
@import 'variables';

.subject {
    margin-top: 20px;
    margin-bottom: 30px;

    &-heading {
        display: flex;
        flex-wrap: wrap-reverse;
        gap: 15px;
        align-items: center;
        justify-content: left;

        &-name {
            font-size: x-large;
            flex-basis: 80%; 
        }

        &-remove {
            //@include divImage($minus);

            width: 25px;
            height: 25px;

            border-radius: 50%;
            background-color:var(--interactive-hover);

            &:hover {
                background-color:red;
            }
        }

        &-add {
            //@include divImage($plus);
    
            background-color: transparent;

            border-radius: 50%;

            width: 30px;
            height: 30px;

            &:hover {
                background-color: var(--interactive-hover);
            }
        }    
    }
    
}