.subject-box {
    font-size: x-large !important;
    padding-left: 0px !important;
    background-color: tomato !important;
    font-weight: 600 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.hidden-textbox {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.homework-manager {
    // Header title
    h1 {
        font-size: xx-large;
        margin-top: 0;
        margin-bottom: 0;
    }

    // Subject names
    h2 {
        font-size: x-large;
        margin-top: 0;
        margin-bottom: 0;
    }

    // Prompt names
    h3 {
        font-size: large;
        margin-top: 0;
        margin-bottom: 0;
    }

    .clickable-icon {
        width: 32px;
        height: 32px;
    }

    #remove-subject {
        display:flex;
        align-items:center;
        justify-content:center;

        width: 25px;
        height: 25px;

        border-radius: 50%;
        background-color:var(--interactive-hover);

        &:hover {
            background-color:red;
        }
    }

    #header {
        display: flex;
        justify-content: space-between;
        margin-right: 20px;

        #left-column {
            display: flex;
            align-items: center;
        }

        *:not(svg) {
            margin-right: 10px;
        }
    }

    #body {
        margin-top: 30px;

        *:not(svg) {
            margin-right: 10px;
        }

        #subject {
            margin-bottom: 30px;
        }

        #title {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        #task {
            display: flex;
            align-items: center;
            margin-top: 15px;

            div {
                display: flex;
                flex-direction: column;
                align-items: left;
            }

            #check {
                background-color: transparent;
                width: 25px;
                height: 25px;

                border-style: solid;
                border-width: 2px;
                border-radius: 50%;
                border-color: var(--icon-color);
                opacity: var(--icon-opacity);
                transition: opacity 0.15s ease-in-out;

                &:hover {
                    opacity: var(--icon-opacity-hover);
                    border-color: var(--icon-color-hover);
                }

                &:active {
                    opacity: var(--icon-opacity-hover);
                    border-color: var(--icon-color-focused);
                }
            }

            // Text
            p {
                font-size: large;
                margin: 0;
            }

            #date {
                color: var(--text-muted);
                font-size: small;
            }
        }
    }

    #menu {
        display: flex;
        flex-direction: column;

        .menu-item:hover {
            background-color: var(--background-modifier-hover);
        }
    }

    #subject-prompt {
        display: flex;
        align-items: center;
        margin-top: 30px;
        gap: 10px;

        input {
            width: 50%;
        }
    }

    #task-prompt {
        margin-top: 15px;

        #top {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;
            
            input {
                width: 50%;
            }
        }

        #bottom {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    &-hidden {
        display: none !important;
    }

    &-link {
        &:hover {
            cursor: var(--cursor-link);
            text-decoration-line: var(--link-decoration-hover);
        }
    }
}
